@charset "utf-8";
/* CSS Document */

body {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #000;
	background-color: #FFFFFF;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: 0;
	border-right-style: 0;
	border-bottom-style: 0;
	border-left-style: 0;
	background-image: url(../images/cool-mint-green-tileable-grunge-patterns-4.jpg);
}

#container #Timetable {
	float: right;
	background-color: #FFF;
	border-radius: 20px;
	border: 3px solid #191900;
	background-color: #FFFFFF;
	-webkit-box-shadow: #B3B3B3 15px 15px 15px;
	-moz-box-shadow: #B3B3B3 15px 15px 15px;
	box-shadow: #B3B3B3 15px 15px 15px;
	padding-top: 15px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	margin-right: 25px;
}


#container {
	width: 840px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#logo {
	background-image: url(../images/ib_logoLarge.png);
	background-repeat: no-repeat;
	height: 138px;
	width: 100%;
}
#logo h1, #logo h2 {
	position: absolute;
	top: -500px;
}
nav {
	padding-top: 150px;
}
#maincontent {
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
	margin-top: 80px;
}

/* CSS Document */

#ul {
	margin: 0px;
	padding: 0px;
}
nav ul {
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 15px;
}
nav ul li {
	float: left;
	-webkit-transition-duration: .5s;
	-webkit-transition-property: marfin-top;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: .5s;
	-o-transition-property: marfin-top;
	-o-transition-duration: .5s;
	-o-transition-property: marfin-top;
	-moz-transition-timing-function: ease-in-out;
	-moz-transition-duration: .5s;
	-moz-transition-property: marfin-top;
transition-timing-function: ease-in-out;

}
nav ul a {
	display: block;
	width: 140px;
	padding: 10px;
	text-decoration: none;
	text-align: center;
	color: #F8981F;
	border: 1px solid #658a37;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-moz-box-shadow: 0px 0px 0px rgba(0,0,0.3);
	-webkit-box-shadow: 0px 0px 0px rgba(0,0,0.3);
	box-shadow: 0px 0px 0px rgba(0,0,0.3);
	-moz-text-shadow: rgba(0,0,0,.8);
	-webkit-text-shadow: rgba(0,0,0,.8);
	text-shadow: rgba(0,0,0,.8);

}
nav ul li a:link, nav ul li a:visited {
	background-color: rgba(255,255,255,0.2)
}
nav ul a:hover, nav ul li a:active {
	background-color: rgba(255,255,255,0.2)
}
nav ul li:hover{
	margin-top:-10px;
}
#vision {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 32px;
	background-image: url(../images/lrg_hero.jpg);
	background-repeat: no-repeat;
	height: 237px;
	width: 409px;
	padding-top: 60px;
	padding-right: 370px;
	padding-bottom: 0px;
	padding-left: 40px;
	margin-bottom: 20px;
}
.pod {
	background-color: #FFF;
	padding: 10px;
	width: 244px;
	float: left;
	margin-right: 13px;
}
#news .podContent {
	margin-top: 12px;
	overflow: auto;
	padding-bottom: 35px;
}
#news .podContent p {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 6px;
	font-size: 15px;
}
.podcontent {
	margin-top: 10px;
	height: 181px;
	width: 244px;
	overflow: hidden;
}


.pod h1 {
	background-color: #ccc;
	color: #000;
	padding: 5px;
	background-image: url(../images/icon_chevron.png);
	background-repeat: no-repeat;
	background-position: 95%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
time {
	width: 2.5em;
	display: inline-block;
	font-weight: bold;
}
a.block {
	text-decoration: none;
	display: block;

}






footer {
	clear: both;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
	color: #FFF;
}
footer p {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
}

#phone {
	font-weight: bold;
	color: #000;
}
#facebookTwitter {
	margin-right: 25px;
	float: right;
}
