@charset "utf-8";
#container {
	width: 700px;
}

#logo {
	background-image: url(../images/med_logo.png);
	height: 100px;
}
nav {
	padding-top: 110px;
}
nav ul {
	font-size: 18px;
}
nav ul a {
	width: 114px;
}
#maincontent {
	padding: 0px;
	margin-left: 5px;
	width: 700px;
}
#vision {
	background-image: url(../images/med_hero.jpg);
	height: 217px;
	width: 289px;
	padding-top: 45px;
	padding-right: 350px;
	font-size: 26px;
}
.pod {
	width: 305px;
}
.podcontent {
	height: 180px;
	width: 302px;
}
#events {
	margin-left: 7px;
}
#news {
	width: 650px;
	margin-top: 20px;
}
footer p {
	margin-left: 5px;
}
